.title {
  font-family: 'Rubik', sans-serif;
  color: white;
}

.sub-title {
  position: relative;
  left: 30px;
  bottom: 20px;
  color: white;
}

.text {
color: white;
text-align: center;
width: 200px;
height: 10px;
background-color: red;
}

.square:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

div#vid-link {
	border-radius: 5px;
	background: rgb(99, 99, 99);
	padding: 200px;
	opacity: 0.5; 
}

div#vid-link:hover {
  opacity: 1.0;
}
